$color-background-white: #ffffff;
$color-text-nav-top: #3d3c3c;
$color-bg-previous-slide: #14262A;
$color-bg-previous-slide-hover: #1A2E35;
$color-news-title: #660303;
$color-news-date: #9da6ae;
$color-black: #000000;
$link-color: rgb(61, 60, 60);
$link-hover: #8f0303;
$button-sign-color: #8f0303;
$button-sign-hover: #380404;
$link-vertical-padding: 5px;      //Controls Menu top & bottom padding
$link-horizontal-padding: 5px;    //Contols Menu left & right padding
$menu-background: white;        //Control Menu Color Scheme
